.main-cont {
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    background-color: rgb(233, 233, 233);
}

.cont {
    margin-top: 12em;
    grid-column: 3/23;
}

.cont {
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.cart {
    display: flex;
    margin: 1em;
    justify-content: center;
}

.card {
    justify-content: center;
}


@media (max-width: 1150px) {
    .cont {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(5);
    }

    .inf-text {
        margin-top: 2em;
    }
}

@media (max-width: 720px) {
    .cont {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(9);
    }

    .cart {
        margin-inline: 0;
    }


}

footer {
    margin-top: auto;
    background-color: rgb(179, 179, 179);
}

.footer-text {
    margin: auto auto;
    margin-top: 0.5em;
}

.media {
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    background-color: rgb(233, 233, 233);
}

.media-text {
    margin-top: 4em;
    grid-column: 3/23;
}

.media-text>h5,
.media-text>p {
    text-align: center;
}

.inf-all {
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    grid-template-rows: repeat(6, 1fr) 0.5fr;
    background-color: rgb(233, 233, 233);
}

.inf-text {
    grid-column: 3/23;
    grid-row: 3/9;
}

.inf-text>h5 {
    text-align: center;
}



.v-all {
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    background-color: rgb(233, 233, 233);
}

.right-bar {
    display: block;
    grid-column: 1/3;
    background-color: rgb(204, 204, 204);
}

.right-text {
    padding-top: 4em;
    text-align: center;
}

.right-bar-btn {
    text-decoration: none;
    text-align: center;
    color: rgb(0, 0, 0);
    margin-left: 25%;
    height: 4em;
    display: grid;
    grid-template-rows: 1fr;
    border-style: solid;
    border-width: 0.5px;
    border-radius: 5px;
    border-color: rgb(127, 127, 127);
    background-color: rgb(167, 167, 167);
}

.vved-itog {
    grid-row: 6/7;
}

.t {
    font-size: 100%;
    margin-block: 30%;
    font-weight: 100;
}

.right-bar-btn-text {
    grid-row: 2/3;
}

.right-bar-text {
    width: 80%;
}

.v-cont {
    display: grid;
    grid-column: 5/23;
    grid-template-rows: repeat(5, 1fr) 0.7fr;
}

.v-cont1 {
    grid-row: 1/6;
}

.v-text {
    text-align: center;
}

.side-text {
    text-align: left;
}

.v-img1 {
    margin-inline: 1em;
    float: right;
}

.v-img2 {
    margin-inline: 1em;
    float: right;
}

.rap-img-vved {
    grid-row: 4/5;
}

.inf-text img {
    width: 90%;
}

.inf-img {
    grid-column: 1/25;
    grid-row: 1/3;
}

